/* //@ FONTS */
@font-face {
    font-family: 'Avenir LT 35';
    src: url('../fonts/AvenirLT-Light.woff2') format('woff2'),
        url('../fonts/AvenirLT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Avenir LT 35';
    font-weight: inherit;
    font-style: inherit;
}

